html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body {
    height: 100%;
    min-width: 740px;
    font-family: arial, sans-serif;
    font-size: 14px;
    color: white;
}

h1 {
    padding: 12px 0;
    font-size: 28px;
}

h2 {
    font-size: 22px;
}

body {
    margin: 0;
    border: 0;
    padding: 0;
    position: relative;
    background-color: #b5bdc8;
}

.wrapper {
    min-height: 100%;
}

.inner_wrapper {
    overflow:auto;
	padding-bottom: 80px;
}

header {
    display: inline-block;
    width: 100%;
    height: 360px;
    background-image: url("../images/Children_watching_TV_(cropped).jpg");
    background-size: cover;

}

.content {
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    margin-top: -15px;
    
}

footer {
    position: relative;
	margin-top: -80px; /* negative value of footer height */
	height: 80px;
	clear:both;
    color: black;
}

footer p {
    text-align: center;
}

.logo {
    float: left;
    background: #ff2929;
    background-image: -webkit-linear-gradient(top, #ff2929, #cf1414);
    background-image: -moz-linear-gradient(top, #ff2929, #cf1414);
    background-image: -ms-linear-gradient(top, #ff2929, #cf1414);
    background-image: -o-linear-gradient(top, #ff2929, #cf1414);
    background-image: linear-gradient(to bottom, #ff2929, #cf1414);
    -webkit-border-bottom-right-radius: 5;
    -moz-border-bottom-right-radius: 5;
    border-bottom-right-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 8px 8px;
    text-decoration: none;
}

.search {
    float: right;
    background: #ff2929;
    background-image: -webkit-linear-gradient(top, #ff2929, #cf1414);
    background-image: -moz-linear-gradient(top, #ff2929, #cf1414);
    background-image: -ms-linear-gradient(top, #ff2929, #cf1414);
    background-image: -o-linear-gradient(top, #ff2929, #cf1414);
    background-image: linear-gradient(to bottom, #ff2929, #cf1414);
    -webkit-border-bottom-left-radius: 5;
    -moz-border-bottom-left-radius: 5;
    border-bottom-left-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    padding: 8px 16px;
    text-decoration: none;
}

.btn {
    background: #ff2929;
    background-image: -webkit-linear-gradient(top, #ff2929, #cf1414);
    background-image: -moz-linear-gradient(top, #ff2929, #cf1414);
    background-image: -ms-linear-gradient(top, #ff2929, #cf1414);
    background-image: -o-linear-gradient(top, #ff2929, #cf1414);
    background-image: linear-gradient(to bottom, #ff2929, #cf1414);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

.btn-small {
    padding: 2px 4px 2px 4px;
    font-size: 12px;
}

.btn:hover, btn-small:hover {
    background: #f72828;
    background-image: -webkit-linear-gradient(top, #f72828, #b80000);
    background-image: -moz-linear-gradient(top, #f72828, #b80000);
    background-image: -ms-linear-gradient(top, #f72828, #b80000);
    background-image: -o-linear-gradient(top, #f72828, #b80000);
    background-image: linear-gradient(to bottom, #f72828, #b80000);
    text-decoration: none;
    cursor: pointer;
}

.gradient {
    background: #b5bdc8; /* Old browsers */
    background: -moz-linear-gradient(top, #b5bdc8 0%, #828c95 44%, #28343b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5bdc8), color-stop(44%,#828c95), color-stop(100%,#28343b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b5bdc8 0%,#828c95 44%,#28343b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b5bdc8 0%,#828c95 44%,#28343b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #b5bdc8 0%,#828c95 44%,#28343b 100%); /* IE10+ */
    background: linear-gradient(to bottom, #b5bdc8 0%,#828c95 44%,#28343b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
}

.toplist td {
    
}

.current_location {
    display: inline-block;
    background: #ff2929;
    background-image: -webkit-linear-gradient(top, #ff2929, #cf1414);
    background-image: -moz-linear-gradient(top, #ff2929, #cf1414);
    background-image: -ms-linear-gradient(top, #ff2929, #cf1414);
    background-image: -o-linear-gradient(top, #ff2929, #cf1414);
    background-image: linear-gradient(to bottom, #ff2929, #cf1414);
    -webkit-border-bottom-right-radius: 5;
    -moz-border-bottom-right-radius: 5;
    border-bottom-right-radius: 5px;
    -webkit-border-top-right-radius: 5;
    -moz-border-top-right-radius: 5;
    border-top-right-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 8px 8px;
    text-decoration: none;
}

.navigation {
    padding-bottom: 20px;
}